@import 'normalize';
@import 'bootstrap-responsive';

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*******************************************
			BEGIN LESS STYLES
*******************************************/

$viaRed: #ef4021;
$main_font_family: arial;
@mixin Full_width {width: 100%;}
@mixin Center_column_width {width: 74.5%; /* 950/1275 */}

/*******************************************
			END LESS STYLES
*******************************************/

// GLOBAL
.hidden {opacity:0;}
.visible {opacity:1;}

//NAVIGATION WITH RED BG
.red_bar {margin: 0px; padding:0px; background: $viaRed; @include Full_width; height:100px; position:absolute; border: 1px solid #e7856f; z-index:100; top:-120px; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
	&.red_bar_visible {top:-40px; position:fixed;}
	#down_arrow {top:95px; position:relative; left:32.4%; /* 414/1275 */}
}

//MAIN NAVIGATION
nav {z-index:200; position:absolute; top:0px; margin-top:90px; @include Full_width; 
	&.nav_fixed {top:10px; margin:0px; position:fixed;}
	#navigation {margin:0 auto; padding:0px; position:relative; width:455px;
		li {display:inline; list-style-type: none; margin-left:20px; font-size:16px; font-weight:100; 
			&.first {margin-left:0;}
			a {font-family:$main_font_family; text-decoration:none; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
				&.nav_link_color_black {color:#000;}
				&.nav_link_color_white {color:#fff;}
				&:hover {color:#fff;}
			}
		}
	}
}

//MAIN STYLES
.container {margin: 1.2% /* 15/1275 */ auto; width:97.5%; /* 1245/1275 */  padding:1px; position:relative; overflow:hidden; transition: all 2s;
	#home_bg_img_slider {position:fixed; width:97.5%; height:auto; margin:0; padding:0;
		li {margin:0px; padding:0px; list-style-type:none; display:none;
			.home_bg_img {position:absolute; @include Full_width; height: auto;}
		}
	}
	#work_bar {margin: 49.2% auto 0 /*755/1275*/ auto; @include Center_column_width; position:relative; background: $viaRed; text-align:center; color:#fff; height:75px; z-index:1;
		.header {font-size:28px; font-weight:100; margin-bottom:-20px; padding-top:5px;}
		.sub_head {font-size:14px;}
		#header_arrow {width:intrinsic; position:relative; width:30px; height:17px;}
	}
	#work_preview {margin: 0 auto; @include Center_column_width; position:relative; list-style-type: none; padding:0px;
		li {margin:0px; padding:0px;
			&.work_preview {-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
			&.work_preview:hover {opacity:.9; cursor:pointer;}
			img {@include Full_width; height: auto;}
		}
	}
	#about {margin: 0 auto; @include Center_column_width; position:relative; list-style-type: none; padding:0px;}
}


.test_img {width:100%; height:auto; margin-top:200px;}



.bottom {right:0px;}
.slide_in {right:0px;}
.slide_out {left:-1000px; position:absolute; top:0px; opacity:0;}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
